.footer {
  background: var(--Primary-Red, #e7204f);
  height: 100vh;
  position: relative;
  /* z-index: 200; */
  @include media("<phone") {
    height: auto;
  }

  &-heading {
    width: 100vw;
    display: flex;
    padding-top: 4.5rem;
    height: 71rem;
    align-items: center;
    @include media("<phone") {
      height: auto;
    }

    div {
      text-align: center;
      font-family: Humane;
      font-size: 30rem;
      font-style: normal;
      font-weight: 500;
      line-height: 25rem;
      text-transform: uppercase;
      display: flex;
      animation: marquee 30s linear infinite;
      cursor: default;
      height: 100%;
      @include media("<phone") {
        font-size: 15rem;
        line-height: 15rem;
        animation: unset;
        width: 100vw;
        padding: 2.4rem;
      }
    }

    span {
      width: 98.8rem;
      color: #ffffff;
      position: relative;
      transition: opacity 0.5s ease-in-out;
      opacity: 0.2;
      position: relative;
      text-align: left;
      @include media("<phone") {
        opacity: 1;
        display: flex;
        flex-direction: column;
      }

      &:hover {
        opacity: 1;
        i {
        }
      }
    }

    i {
      color: #e7fde7;
      leading-trim: both;
      text-edge: cap;
      font-family: Nohemi;
      font-size: 5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 5rem;
      text-transform: uppercase;
      display: flex;
      padding: 1.4rem 1rem 0.4rem;
      height: 5.6rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background: #000;
      width: fit-content;
      position: absolute;
      bottom: 4.5rem;
      left: 0;
      @include media("<phone") {
        margin-top: 6rem;
        position: static;
        font-size: 3.2rem;
        line-height: 5rem;
      }
    }

    a {
      color: #fff;
      leading-trim: both;
      text-edge: cap;
      font-family: Nohemi;
      font-size: 2.24rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.5rem;
      text-transform: uppercase;
      display: flex;
      padding: 1.4rem 1rem 0.4rem;
      height: 5.6rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: fit-content;
      position: absolute;
      bottom: 4.5rem;
      right: 14rem;
      @include media("<phone") {
        position: static;
        margin-block: 5rem;
        font-size: 2rem;
        line-height: 3.5rem;
        padding: 0;
      }
    }
  }

  &-footer {
    position: absolute;
    width: 46.7rem;
    height: 100vh;
    flex-shrink: 0;
    background: #000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 3.1rem 3.6rem;
    @include media("<phone") {
      position: static;
      height: auto;
      padding: 8rem 2.4rem;
      width: unset;
    }

    &-links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.2rem;
      color: var(--bg-color, #f5f1ee88);
      font-family: Nohemi;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.8rem;
      text-transform: uppercase;
      @include media("<phone") {
        gap: 2.8rem;
      }
      a {
        padding: 1rem 2.4rem 0.6rem;
        width: fit-content;
        @include media("<phone") {
          padding: unset;
        }
      }
      a:hover {
        color: var(--bg-color, #f5f1ee);
        transition: color 0.15s ease;
      }
      p {
        display: block;
        transform: translate(calc(var(--x) * 25%), calc(var(--y) * 25%));
        pointer-events: none;
        transition: transform 0.05s ease-out;
      }
    }

    &-form {
      padding: 5rem 2.4rem 0;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      @include media("<phone") {
        padding: 6rem 0rem;
      }

      input {
        display: flex;
        padding: 1.2rem 1rem 0.8rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
        background: #fff;
        color: rgba(0, 0, 0, 1);
        leading-trim: both;
        text-edge: cap;
        font-family: Nohemi;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 85%;
        text-transform: uppercase;
        background: #fff;
        border: unset;
        &::placeholder,
        &:placeholder-shown {
          color: rgba(0, 0, 0, 0.5);
        }
      }

      button {
        display: flex;
        padding: 1.2rem 1rem 0.8rem;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
        background: var(--Primary-Red, #e7204f);
        color: var(--bg-color, #f5f1ee);
        leading-trim: both;
        text-edge: cap;
        font-family: Nohemi;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 85%;
        text-transform: uppercase;
      }
    }
    &-end {
      padding: 0 2.4rem;
      display: flex;
      margin-top: auto;
      color: var(--bg-color, #f5f1ee);
      font-family: Nohemi;
      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.8rem;
      text-transform: uppercase;
      justify-content: space-between;
      @include media("<phone") {
        padding: unset;
      }
    }
  }
}
