.testimonials {
  height: calc(100vh);
  &-heading {
    width: 100vw;
    background: var(--brand-main, #17181b);
    display: flex;
    padding-top: 7rem;
    height: 47rem;
    align-items: center;
    @include media("<phone") {
      height: 32rem;
      padding-top: 0;
    }

    div {
      text-align: center;
      font-family: Humane;
      font-size: 30rem;
      font-style: normal;
      font-weight: 500;
      line-height: 25rem;
      text-transform: uppercase;
      display: flex;
      animation: marquee 10s linear infinite;
      cursor: default;
      @include media("<phone") {
        font-size: 15rem;
        font-weight: 500;
        line-height: 12rem;
      }
    }

    span {
      width: calc(67rem + 4.65rem);
      color: #e7fde788;
      position: relative;
      transition: color 0.5s ease-in-out;
      margin-bottom: 2rem;
      @include media("<phone") {
        width: 38rem;
        padding-inline: 1rem;
      }

      &:hover {
        color: #e7fde7;
        i {
          transform: translate(-50%, -50%) rotate(-4.94deg);
          opacity: 1;
        }
      }
    }

    i {
      position: absolute;
      display: flex;
      padding: 1.2rem 1rem 0.8rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background: #d13b00;
      color: #fff;
      font-family: Nohemi;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      top: 42.5%;
      left: 50%;
      transform: translate(-50%, 100%) rotate(-4.94deg);
      transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
      opacity: 0;
      white-space: pre;
    }
  }

  &-testimonials {
    padding: 7.2rem;
    background: #f5f1ee;
    display: flex;
    gap: 6.7rem;
    position: relative;
    padding-top: 41.1rem;
    @include media("<phone") {
      gap: 4.8rem;
      padding: 2.4rem;
      padding-top: 45rem;
      height: calc(100vh + 18rem);
    }

    h3 {
      color: var(--Shade-Black, #000);
      font-family: Humane;
      font-size: 20rem;
      font-style: normal;
      font-weight: 500;
      line-height: 18rem; /* 90% */
      text-transform: uppercase;
      position: absolute;
      top: 8rem;
      left: 8rem;
      @include media("<phone") {
        font-size: 15rem;
        top: 16rem;
        left: 2.4rem;
        right: 2.4rem;
        line-height: 82.5%;
      }
    }

    li {
      width: 57rem;
      flex-shrink: 0;
      opacity: 0.4;
      border-bottom: 0.1rem solid #000;
      padding-bottom: 2.7rem;
      transition: opacity 0.35s ease-in-out;
      cursor: default;
      @include media("<phone") {
        opacity: 1;
        width: 34.6rem;
        height: fit-content;
      }
      &:hover {
        opacity: 1;
        h4 {
          filter: grayscale(0);
        }
      }
    }

    h4 {
      color: #e7204f;
      font-family: Humane;
      font-size: 10rem;
      font-style: normal;
      font-weight: 500;
      line-height: 10rem;
      text-transform: uppercase;
      transition: filter 0.35s ease-in-out;
      filter: grayscale(1);
    }

    p {
      color: #000;
      font-family: Nohemi;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      margin-top: 1.8rem;
      @include media("<phone") {
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    h5 {
      margin-top: 1.8rem;
      color: #000;
      font-family: Nohemi;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
    }

    h6 {
      margin-top: 0.4rem;
      color: rgba(0, 0, 0, 0.5);
      font-family: Nohemi;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
    }
  }
}
