.works {
  height: calc(100vh);
  &-heading {
    width: 100vw;
    height: 50rem;
    background: var(--brand-main, #17181b);
    display: flex;
    padding-top: 7rem;
    height: 55.2rem;
    align-items: center;
    @include media("<phone") {
      height: 44rem;
      padding-top: 0;
    }

    div {
      text-align: center;
      font-family: Humane;
      font-size: 25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 20rem;
      text-transform: uppercase;
      display: flex;
      animation: marquee 10s linear infinite;
      cursor: default;
      @include media("<phone") {
        font-size: 15rem;
        font-weight: 500;
        line-height: 12rem;
      }
    }

    span {
      width: 45.1rem;
      color: #e7fde788;
      position: relative;
      transition: color 0.5s ease-in-out;
      @include media("<phone") {
        width: 30rem;
        padding-inline: 1rem;
      }

      &:hover {
        color: #e7fde7;
        i {
          transform: translate(-50%, -50%) rotate(-4.94deg);
          opacity: 1;
        }
      }
    }

    i {
      position: absolute;
      display: flex;
      padding: 1.2rem 1rem 0.8rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background: #d13b00;
      color: #fff;
      font-family: Nohemi;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      top: 42.5%;
      left: 50%;
      transform: translate(-50%, 100%) rotate(-4.94deg);
      transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
      opacity: 0;
      white-space: pre;
      @include media("<phone") {
        transform: translate(-50%, 100%) rotate(-8.92deg);
        font-size: 2.8rem;
        line-height: 3.2rem;
        top: 45%;
      }
    }
  }

  &-works {
    padding: 7.2rem;
    background: #ff5200;
    display: flex;
    gap: 14.4rem;
    height: calc(100vh - 5.2rem);
    @include media("<phone") {
      padding: 2.4rem;
      padding-top: 15rem;
      position: relative;
      gap: 4.8rem;
      height: calc(100vh + 6rem);
    }
    li {
      padding: 9.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 129.6rem;
      flex-shrink: 0;
      position: relative;
      @include media("<phone") {
        width: 34.5rem;
      }
      &:hover {
        figure {
          div {
            opacity: 1;
          }
          img {
            filter: blur(2.5rem);
          }
        }
        i {
          right: -5.2rem;
          bottom: 32.6rem;
          --color: #000000;
          --bg: #e6e6e6;
          @include media("<phone") {
            right: -1.2rem;
            bottom: 16rem;
          }
        }
        h6 {
          transform: translateY(0%);
          opacity: 1;
        }
        a {
          /* transform: translateY(0%); */
          opacity: 1;
        }
      }
      &:nth-of-type(1) {
        figure {
          background-color: #000910;
        }
      }
      &:nth-of-type(2) {
        figure {
          background-color: #6c5239;
        }
      }
      &:nth-of-type(3) {
        figure {
          background-color: #000009;
        }
      }
      &:nth-of-type(4) {
        figure {
          background-color: #060607;
        }
      }
    }

    figure {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        object-fit: contain;
        transition: filter 0.5s ease-in-out;
      }

      div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        );
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
    }

    h4 {
      color: var(--Grey, #e6e6e6);
      font-family: Humane;
      font-size: 30rem;
      font-style: normal;
      font-weight: 500;
      line-height: 25rem;
      text-transform: uppercase;
      position: absolute;
      top: 5.6rem;
      left: 5.6rem;
      opacity: 0;
      pointer-events: none;
      @include media("<phone") {
        display: none;
      }

      .line {
        overflow: hidden;
      }
      .char {
        transform: translateY(100%);
      }
    }
    h5 {
      color: #e7fde7;
      font-family: Humane;
      font-size: 10rem;
      font-style: normal;
      font-weight: 500;
      line-height: 10rem;
      text-transform: uppercase;
      position: absolute;
      bottom: 3.2rem;
      left: 3.2rem;
      opacity: 1;
      pointer-events: none;
      filter: blur(0rem);
      @include media("<phone") {
        bottom: unset;
        top: 6rem;
        font-size: 15rem;
        left: 1.3rem;
        line-height: 82.5%;
      }

      .line {
        overflow: hidden;
        @include media("<phone") {
          overflow: visible;
        }
      }
    }

    p {
      color: #fff;
      font-family: Nohemi;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      position: absolute;
      bottom: 5.6rem;
      left: 5.6rem;
      opacity: 0;
      pointer-events: none;
      width: 66.3rem;

      .line {
        clip-path: inset(0% 0% 100% 0%);
        transform: translateY(100%);
      }
    }

    i {
      color: var(--color);
      font-family: Nohemi;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      position: absolute;
      background-color: var(--bg);
      display: flex;
      padding: 1.2rem 1rem 0.8rem;
      justify-content: center;
      align-items: center;
      white-space: pre;
      transition: right 0.5s ease-in-out, bottom 0.5s ease-in-out,
        color 0.5s ease-in-out, background-color 0.5s ease-in-out;
      position: absolute;
      right: 3.2rem;
      bottom: 3.2rem;
      @include media("<phone") {
        bottom: 0.6rem;
        right: unset;
        left: -1.2rem;
        width: fit-content;
      }

      &:nth-of-type(2) {
        right: 15.1rem;
      }
    }

    h6 {
      --color: #000000;
      --bg: #e6e6e6;
      color: var(--color);
      font-family: Nohemi;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      position: absolute;
      background-color: var(--bg);
      display: flex;
      padding: 1.2rem 1rem 0.8rem;
      justify-content: center;
      align-items: center;
      white-space: pre;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      position: absolute;
      opacity: 0;
      left: -3.4rem;
      bottom: 32.6rem;
      transform: translateY(100%);
      @include media("<phone") {
        opacity: 1;
        left: unset;
        right: -1.2rem;
        transform: translateY(0%);
        bottom: 24rem;
      }
    }

    a {
      color: var(--color);
      font-family: Nohemi;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      position: absolute;
      background-color: var(--bg);
      display: flex;
      padding: 1.2rem 1rem 0.8rem;
      justify-content: center;
      align-items: center;
      white-space: pre;
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
      position: absolute;
      right: 3.2rem;
      bottom: 3.2rem;
      @include media("<phone") {
        right: 1.6rem;
        bottom: 1.6rem;
      }

      svg {
        color: transparent;
      }
      path {
        stroke: var(--color);
      }
    }
  }
}
