.about-vision {
  background: var(--Grey, #e6e6e6);
  padding: 15.6rem 9rem;
  margin: -0.1rem 0;
  display: flex;
  gap: 2.8rem;
  @include media("<phone") {
    padding: 12rem 0.6rem;
    flex-direction: column;
  }

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    @include media("<phone") {
      padding: 0 1.6rem;
      flex-direction: column;
    }
    h2 {
      color: var(--Black, #000);
      font-family: Humane;
      font-size: 20rem;
      font-style: normal;
      font-weight: 500;
      line-height: 18rem;
      text-transform: uppercase;
      @include media("<phone") {
        font-size: 10rem;
        line-height: 10rem;
        width: 100%;
      }
    }
    p {
      width: 57.7rem;
      color: var(--Black, #000);
      font-family: Nohemi;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      max-width: 57.7rem;
      margin-bottom: 1.6rem;
      @include media("<phone") {
        font-size: 1.55rem;
        line-height: 2.8rem;
        width: 100%;
      }
    }
  }
}
