.services-stack {
  /* padding: 8rem 8rem 6.8rem; */
  position: relative;
  overflow: hidden;
  @include media("<phone") {
    padding: 8rem 0rem 0rem;
  }

  &-list {
    width: 100vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
    @include media("<phone") {
    }

    & > div {
      transform: translateY(50);
      clip-path: polygon(11.7% 13.5%, 73% 27%, 100% 100%, 0% 100%);
    }

    li {
      flex-shrink: 0;
      width: 100vw;
      height: 100vh;
      padding: 9.5rem 8.6rem;
      position: relative;
      @include media("<phone") {
        padding: 8rem 1.6rem;
      }
    }

    & > div:nth-of-type(1) {
      background: var(--bg-color, #f5f1ee);
      h3,
      p {
        color: #000;
      }
      i {
        background: #000;
        color: #f5f1ee;
      }
    }
    & > div:nth-of-type(2) {
      background: #4c288d;
    }
    & > div:nth-of-type(3) {
      background: #e7fde7;
      * {
        color: #043840;
      }
      i {
        background: #000;
        color: #f5f1ee;
      }
    }
    & > div:nth-of-type(4) {
      background: #08627c;
    }

    h3 {
      color: #fff;
      font-family: Humane;
      font-size: 30rem;
      font-style: normal;
      font-weight: 500;
      line-height: 25rem;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      @include media("<phone") {
        font-size: 10rem;
        line-height: 10rem;
      }
    }

    p {
      color: #fff;
      font-family: Nohemi;
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      width: 52.5rem;
      position: absolute;
      bottom: 7.2rem;
      left: 8.6rem;
      z-index: 10;
      @include media("<phone") {
        width: 35rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
        position: static;
      }
    }

    .medias {
      figure {
        width: 57rem;
        height: 40.9rem;
        position: absolute;
        top: 8.3rem;
        right: 8rem;
        @include media("<phone") {
          width: 36.1rem;
          height: 23.9rem;
          top: 30.8rem !important;
          left: 1.6rem !important;
        }
      }
    }

    .tags {
      color: #000;
      font-family: Nohemi;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      right: 8rem;
      bottom: 7.2rem;
      gap: 3.2rem;
      flex-wrap: wrap-reverse;
      width: 57rem;
      @include media("<phone") {
        top: 56.7rem;
        bottom: 0rem;
        left: 1.6rem !important;
        flex-direction: column;
        gap: 1.2rem;
        width: 36.1rem;
      }

      i {
        padding: 1rem;
        background: #f5f1ee;
        width: 100%;
        margin-right: auto;
        @include media("<phone") {
          font-size: 1.6rem;
          width: 36.1rem;
          height: 4.4rem;
          display: none;
          background-color: #000000;
          color: #fff;
          padding-top: 0.8rem;
          &:nth-of-type(1) {
            display: block;
          }
          &:nth-of-type(2) {
            display: block;
          }
          &:nth-of-type(3) {
            display: block;
          }
          &:nth-of-type(4) {
            display: block;
          }
          &:nth-of-type(5) {
            display: block;
          }
        }
      }
    }
  }
}
