@import "./reset.scss";

$breakpoints: (
  "phone": 760px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

@import "../node_modules/include-media/dist/include-media";
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import url("https://fonts.cdnfonts.com/css/humane");

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-ExtraBold.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/Nohemi-ExtraBold.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/Nohemi-Regular.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

html {
  font-size: calc(100vw / 1440 * 10);
  background: var(--Black, #000);

  @include media("<phone") {
    font-size: calc(100vw / 430 * 10);
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

[data-desktop] {
  @include media("<phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[data-mobile] {
  @include media(">=phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.page,
.app {
  position: relative;
  width: 100vw;
  overflow: clip;

  &#home {
  }
}

svg {
  margin: unset;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/about.scss";
@import "./components/stack.scss";
@import "./components/footer.scss";
